<%- include('../partials/header') %>
    <div class="ui main text container" style="margin-top: 50px;">
        <div class="ui top attached segment">
            <div class="ui huge header">All Blogs</div>
            <div class="ui divided items">
                <% blogs.slice().reverse().forEach(function(blog){ %>
                    <div class="ui header">
                        <%= blog.title %> -by <%= blog.department %>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image %>">
                        </div>
                        <div class="content">
                            <a class="header" href="/<%= blog._id %>"></a>
                            <div class="meta">
                                <span>
                                    <%= blog.created.toDateString() %>
                                </span>
                            </div>
                            <div class="description">
                                <p>
                                    <% if(blog.body) {%>
                                        <%- blog.body.substring(0, 100) %>...
                                    <% } %>
                                </p>
                            </div>
                            <div class="extra">
                                <a class="ui floated basic violet button" href="/showAdmin/<%= blog._id %>">
                                    Read More
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
    </body>

    </html>