<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>IOT Project</title>
</head>

<body>
    <div class="container">
        <!-- Flood Status Section -->
        <header class="jumbotron bg-dark">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <h1 class="text-white" style="margin-bottom: 40px;">Smart Flood Detection System</h1>
                    <% if(!currentUser) { %>
                        <a id="adminButton" class="btn btn-info" href="/login" role="button">Admin Login</a>
                    <% } else {%>
                        <div>
                            <a id="adminButton" class="btn btn-info" href="/admin" role="button">Admin Panel</a>
                            <a id="adminButton" class="btn btn-info" href="/logout" role="button">Logout</a>
                        </div>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Ultrasonic Senser</div>
                            <div class="card-body">
                                <p class="card-text waterLevel">
                                    <storng>
                                        <%= ultrasonicSensorReading %>
                                    </storng>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Water Sensor</div>
                            <div class="card-body">
                                <p class="card-text waterLevel">
                                    <storng>
                                        <%= walterSensorReading %>
                                    </storng>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white <%= colorLevel %> mb-3" style="max-width: 18rem;">
                            <div class="card-header">Flood Status</div>
                            <div class="card-body">
                                <p class="card-text waterLevel">
                                    <storng>
                                        <%= floodStatus %>
                                    </storng>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Blogs Section -->
        <header class="jumbotron bg-dark">
            <div class="ui top attached segment">
                <div class="ui divided items">
                    <% blogs.slice().reverse().forEach(function(blog){ %>
                        <div class="ui header">
                            <%= blog.title %> -by <%= blog.department %>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="<%= blog.image %>">
                            </div>
                            <div class="content">
                                <a class="header" href="/blogs/<%= blog._id %>"></a>
                                <div class="meta">
                                    <span>
                                        <%= blog.created.toDateString() %>
                                    </span>
                                </div>
                                <div class="description">
                                    <p> 
                                        <% if(blog.body) {%>
                                            <%- blog.body.substring(0, 100) %>...
                                        <% } %>
                                    </p>
                                </div>
                                <div class="extra">
                                    <a class="ui floated basic violet button" href="/<%= blog._id %>">
                                        Read More
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <% }); %>
                </div>
        </header>
    </div>
</body>

</html>