<%- include('partials/header') %>
    <div class="ui main text container segment mt-3">
        <div class="ui huge header">New User</div>
        <form class="ui form" action="/newuser" method="post">
            <div class="field">
                <label>Username</label>
                <input type="text" name="user[username]" placeholder="Username" required>
            </div>
            <div class="field">
                <label>Location</label>
                <input type="text" name="user[location]" placeholder="Location" required>
            </div>
            <div class="field">
                <label>Mobile (10 digit)</label>
                <input type="number" name="user[mobile]" placeholder="Mobile No." pattern="[789][0-9]{9}" required>
            </div>
            <input class="ui violet big basic button" type="submit">
        </form>
        <div class="ui huge header">Delete User</div>
        <form class="ui form" action="/delete" method="post">
            <div class="field">
                <label>Mobile (10 digit)</label>
                <input type="number" name="mobile" placeholder="Mobile" pattern="[789][0-9]{9}" required>
            </div>
            <input class="ui red big basic button" type="submit">
        </form>
    </div>
    <div class="ui main text container segment mb-3">
        <div class="ui top attached segment">
            <div class="ui huge header">All User</div>
            <div class="ui divided items">
                <% users.slice().reverse().forEach(function(user){ %>
                    <div class="ui header">
                        <%= user.username %>
                    </div>
                    <div class="item">
                        <div class="ui content">
                            <p><strong>Mobile No</strong></p>
                            <%= user.mobile %>
                        </div>
                        <div class="content">
                            <div class="description">
                                <p>
                                <p><strong>Location</strong></p>
                                <%- user.location %>
                                    </p>  
                            </div>
                        </div>
                        <hr>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>