<%- include('../partials/header') %>
    <div class="ui main text container segment" style="margin-top: 50px;">
        <div class="ui huge header">
            <%= blog.title %>
        </div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %>">
                <div class="content">
                    <span>
                        <%= blog.created.toDateString() %>
                        <i>-by <%=blog.department%> </i>
                    </span>
                </div>
                <div class="description">
                    <p>
                        <%= blog.body %>
                    </p>
                    <!-- To allow script replace = with - -->
                </div>
                <br>
                
                <form id="delete" action="/<%= blog._id %>?_method=DELETE" method="POST">
                    <% if(currentUser.department === blog.department) { %> 
                        <a class="ui orange basic button" href="/<%= blog._id %>/edit">Edit</a>
                        <button class="ui red basic button">Delete</button>
                    <% } %>
                    <a class="ui blue basic button" href="/admin">Back</a>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>